.navbar-list{
  padding: 0px;
  margin-left: -15px;
}

.navbar-item{
  //min-height: 90px;
  text-align: center;
  vertical-align: middle;
  line-height: 96px;
}

html{
  height: 100%;
  body{
    height: 100%;
    app-root{
      height: 100%;
      .container-fluid{
        height: 100%;
        .first-row{
          height: 100%;
          .navbar-col{
            height: 100%;
          }
          .content-col{
            height:100%;
          }
        }
      }
    }
  }
}

.pre-scrollable{
  max-height: 96%;
}
