<!--<ul class="list-group navbar-list">-->
<!--<li (click)="selectFeature(feature.Music)"-->
<!--class="list-group-item navbar-item "-->
<!--[ngClass]="{'active': selectedFeature == feature.Music}">-->
<!--Music-->
<!--</li>-->
<!--<li (click)="selectFeature(feature.Video)"-->
<!--class="list-group-item navbar-item"-->
<!--[ngClass]="{'active': selectedFeature == feature.Video}">Video</li>-->
<!--<li (click)="selectFeature(feature.Stats)"-->
<!--class="list-group-item navbar-item"-->
<!--[ngClass]="{'active': selectedFeature == feature.Stats}">Stats</li>-->
<!--<li class="list-group-item navbar-item">Gear</li>-->
<!--</ul>-->
<div class="row main-menu" *ngIf="this.selectedFeature == FEATURE.None">
    <div class="col-4 main-menu-item">
        <div class="card">
            <div class="card-img" (click)="this.selectFeature(this.FEATURE.Music)">
                <i class="fa fa-music fa-5x main-menu-icon"></i>
            </div>
        </div>
    </div>

    <div class="col-4 main-menu-item">
        <div class="card">
            <div class="card-img">
                <i class="fa fa-video-camera fa-5x main-menu-icon"></i>
            </div>
        </div>
    </div>

    <div class="col-4 main-menu-item">
        <div class="card">
            <div class="card-img">
                <i class="fa fa-archive fa-5x main-menu-icon"></i>
            </div>
        </div>
    </div>
</div>

<app-music *ngIf="this.selectedFeature == FEATURE.Music" (onBack)="onBack($event)" ></app-music>
<app-video *ngIf="this.selectedFeature == FEATURE.Video" (onBack)="onBack($event)" ></app-video>