<div class="row justify-content-center" style="height: 82%">
  <div class="col-6">
    <div class="row justify-content-center">
      <div class="col-3">
        <button class="btn btn-block" (click)="volumeUp()"><i class="fa fa-arrow-up"></i></button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <button class="btn btn-block" (click)="previous()"><i class="fa fa-arrow-left"></i></button>
      </div>
      <div class="col-3">
        <button class="btn btn-block"
          (click)="changeState()">
          <i class="fa"
          [ngClass]="{'fa-play': !playing, 'fa-pause': playing}"></i></button>
      </div>
      <div class="col-3">
        <button class="btn btn-block" (click)="next()"><i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <button class="btn btn-block" (click)="volumeDown()"><i class="fa fa-arrow-down"></i></button>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto" *ngIf="currentSong != null">
        {{currentSong.displayname}}
      </div>
      <div class="col-auto" *ngIf="currentSong == null">

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        Volume: {{volume}}%
      </div>
    </div>
  </div>
  <div class="col-6"  style="height: 100%">
    <ul class="list-group pre-scrollable">
      <li *ngFor="let song of songs"
          class="list-group-item"
          (click)="playSong(song)"
          [ngClass]="{'active': currentSong === song}">{{song.displayname}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <button class="btn btn-block btn-primary" (click)="onBack.emit()">
    <i class="fa fa-arrow-left fa-3x"></i>
  </button>
</div>
