.btn{
  min-width: 64px;
  min-height: 64px;
}

.row{
  margin-top: 12px;
}

.form-control-range{
  width: 100%;
  color: black;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-moz-range-thumb{
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background: #ffffff;
}

input[type=range]::-moz-range-track{
  width: 100%;
  height: 8.4px;
  background: #007BFF;
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background: #ffffff;
  margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track{
  width: 100%;
  height: 8.4px;
  background: #007BFF;
}
