<div class="container-fluid" style="width: 800px; height: 480px; border: 1px solid blue">

        <!--<div class="col-3 navbar-col">-->
        <!--<app-navbar #navbar style="height: 100%"></app-navbar>-->
        <!--</div>-->
        <!--<div class="col-9 content-col">-->
        <!--<app-music *ngIf="navbar.selectedFeature == feature.Music" style="height: 100%"></app-music>-->
        <!--</div>-->

            <app-navbar></app-navbar>

            <!--<div class="col-3 menu-item">-->
                <!--<div class="card">-->
                    <!--<div class="card-img">-->
                        <!--<i class="fa fa-gear fa-5x menu-icon"></i>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

</div>
