.main-menu{
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(230, 230, 230, 0.5);
}

.btn-light{
    background-color: rgba(240, 240, 240, 0.5);
    border: none;
}
