<div class="row">
  <div class="col-12"  style="padding: 0px">
    <div class="row">
      <div class="col-12">
      <ul class="music-list">
        <li *ngFor="let file of files">{{file}}</li>
      </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <img src="../../assets/pics/add.png" class="button">
          </div>
          <div class="col-4"></div>
        </div>
        <div class="row">
          <div class="col-4">
            <img src="../../assets/pics/back.png" class="button">
          </div>
          <div class="col-4">
            <img src="../../assets/pics/play-button.png" class="button">
          </div>
          <div class="col-4">
            <img src="../../assets/pics/next.png" class="button">
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <img src="../../assets/pics/substract.png" class="button">
          </div>
          <div class="col-4"></div>
        </div>
      </div>
    </div>
  </div>
</div>
